:root {
    --header-height: 80px;
    --footer-height: 40px;
    --page-padding: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: #EEE;
    color-scheme: dark;
}

body {
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    justify-content: space-between;
    height: 100svh;
    padding: var(--page-padding);
    background-color: #666;
    overflow: hidden;
}

.kanban-board {
    --kanban-width: calc(100svw - 10px);
    --column-width: 200px;
    /* account also for scrollbar height */
    --column-height: calc(100svh - var(--header-height) - var(--footer-height) - 2 * var(--page-padding) - 40px);
    --column-header-height: 30px;
    --column-body-height: calc(var(--column-height) - var(--column-header-height) - var(--column-vertical-gap));
    --column-horizontal-gap: 10px;
    --column-vertical-gap: 5px;
    --column-padding: 5px;
    --card-vertical-gap: 5px;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--column-width);
    gap: var(--column-horizontal-gap);
    width: var(--kanban-width);
    overflow-x: scroll;
    overflow-y: hidden;
}

.kanban-column {
    position: relative;
    display: grid;
    height: min-content;
    grid-template-rows: var(--column-header-height) var(--column-body-height);
    gap: var(--column-vertical-gap);
    background-color: #333;
    border-radius: var(--column-padding);
    padding: 5px;

    &>header {
        &>input {
            width: 100%;
            border: none;
            background-color: #0000;
            padding: 5px;
        }
    }

    &>section {
        --placeholder-height: 10px;
        --placeholder-index: 0;

        display: grid;
        grid-auto-rows: min-content;
        gap: var(--card-vertical-gap);
        overflow-y: auto;
    }

    &>button {
        display: none;
        position: absolute;
        width: 100%;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    &>section:where(:empty):not(.drag-over)+button {
        display: block;
    }

    &>section.drag-over::after {
        content: "";
        height: var(--placeholder-height);
        background-color: #555;
        border-radius: 5px;
        grid-row: var(--placeholder-index);
    }
}

.kanban-card {
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
    user-select: none;

    &.dragged {
        display: none;
    }
}

.kanban-append-column {
    height: 20px;
    background-color: #444;
    border: none;
    border-radius: 5px;
}
