:root {
    --header-height: 50px;
    --footer-height: 50px;
    --body-gap: 5px;

    --column-header-height: 50px;
    --column-gap: 5px;

    /* compute explicit heights for scrolling */
    --main-height: calc(100svh - var(--header-height) - var(--footer-height) - 2 * var(--body-gap));
    --column-body-height: calc(var(--main-height) - var(--column-header-height) - var(--column-gap));
}

* {
    box-sizing: border-box;
    margin: 0;
    color: #eee;
}

body {
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    gap: var(--body-gap);
    background-color: #333;
    height: 100svh;
}

h1,
h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    padding: 0 10px;
    gap: 10px;
    width: 100%;
    height: var(--main-height);
    overflow-x: auto;
}

button {
    height: 30px;
    width: 100%;
    background-color: #555;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    display: grid;
    grid-template-rows: var(--column-header-height) auto;
    gap: var(--column-gap);
    background-color: #222;
    border-radius: 10px;
}

input {
    width: 100%;
    background-color: #0000;
    border: none;
    padding: 5px;
}

ol {
    --drag-placeholder-index: 0;
    --drag-placeholder-height: -5px;

    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    z-index: 1;
    padding: 5px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 5px;
    overflow-y: auto;
    height: var(--column-body-height);
}

/* placeholder */
ol.dragover::after {
    grid-row: var(--drag-placeholder-index) / span 1;
    content: "";
    height: var(--drag-placeholder-height);
    background-color: #666;
    border-radius: 5px;
}

li {
    list-style-type: none;
    padding: 5px;
    background-color: #444;
    border-radius: 5px;
    cursor: grab;
    overflow: hidden;
}

/* delete button */
ol+div {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    padding: 5px;
    display: none;

    &>button {
        position: relative;
        z-index: 2;
    }
}

ol:not(.dragover):where(:empty, .pseudo-empty)+div {
    display: initial;
}
